---
---

<section class="flex flex-wrap bg-white justify-center">
  <header > 
    <div class="flex justify-center text-center">
      <img src="images/logo/logo-soporte.webp" class= "mt-8 mb-4 w-[300px] max-sm:w-[100px]"/>
    </div>
    <h1 class="font-moserrat italic text-2xl font-semibold text-primary mb-4 mt-4 max-sm:text-sm ">Servicio Técnico Especializado Haceb </h1>
  </header>
  <article >
    <p class="ml-4 mr-2 mb-4 font-roboto text-xl text-stone-700 max-sm:text-xs">
    Con años de experiencia en el sector, nuestro equipo de técnicos altamente
    capacitados se enorgullece de ofrecer un servicio de primera calidad a
    nuestros clientes. Desde la reparación de lavadoras y neveras hasta
    calentadores y estufas, estamos comprometidos en devolver la funcionalidad a
    tus electrodomésticos de forma rápida y precisa. Nuestra dedicación a la
    satisfacción del cliente, la atención meticulosa al detalle y el
    conocimiento profundo de las últimas tecnologías en electrodomésticos nos
    convierten en tu elección de confianza cuando necesitas asistencia experta.
    En cada servicio que brindamos, nuestra meta es que tu hogar funcione de
    manera óptima y sin complicaciones. ¡Confía en nosotros para mantener tus
    electrodomésticos en pleno funcionamiento!.
  </p>
    <div class="flex justify-evenly mb-8 mt-8 gap-10 max-sm:w-auto max-sm:flex-wrap">
      <img class="w-[30%]  h-[300px] border-4 border-solid rounded-2xl border-lime-500  max-sm:w-[70%] max-sm:h-auto" src="/images/reparador.webp" alt="">
      <img class="w-[30%]  h-[300px] border-4 border-solid rounded-2xl border-lime-500  max-sm:w-[70%] max-sm:h-auto"  src="/images/home.webp" alt="">
    </div>
  </article>
</section>
